{% extends 'base.html.twig' %}

{% block title %}Events{% endblock %}

{% block body %}
    <h1> {{ events|length }} Events</h1>
    <ul>
        {% for event in events %}
            <li>
                <strong>{{ event.name }}</strong>
                in {{ event.location }}
                {{ event.price|number_format }}€
            </li>
            <p>{{ event.description }}</p>
            <p>{{ event.startsAt|date }}</p>
        {% endfor %}
    </ul>
{% endblock %}
