{% extends 'layouts/base.html.twig' %}

{% block title event.name %}

{% block body %}
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1 class="mt-5 font-weight-light">{{ event.name }}</h1>
            <img src="{{ asset('/images/' ~ event.imageFileName) }}" alt="{{ event.name }}" class="rounded-sm shadow-sm">
            <h2 class="h4 mt-2">{{ pluralize(event.spotsLeft, 'spot') }} &bull; {{ format_price(event) }}</h2>
            <h3 class="h5 font-weight-light">{{ event.startsAt|datetime }} in {{ event.location }}</h3>
            <p>{{ event.description }}</p>
            {{ register_link_or_sold_out(event) }}
            <p>
                <a href="{{ path('registrations.index', {'event': event.id}) }}">View</a>
            </p>
            <p>
                <a href="{{ path('events.edit', {'id': event.id}) }}">Edit</a> |
                <a href="{{ path('events.delete', {'id': event.id}) }}" onclick="event.preventDefault();
                document.getElementById('js-delete-event-form').submit();">Delete</a>
            </p>
            <form id="js-delete-event-form" action="{{ path('events.delete', {'id': event.id}) }}" method="post" style="display: none">
                <input type="hidden" name="_method" value="DELETE">
                <input type="hidden" name="_token" value="{{ csrf_token('deleteEvent') }}">
            </form>
        </div>
    </div>
{% endblock %}
